services:
  mongodb:
    image: mongo:6.0
    container_name: mongodb
    command: ["--replSet", "rs0", "--bind_ip_all"]
    ports:
      - "27017:27017"
    healthcheck:
      test: echo "try { rs.status() } catch (err) { rs.initiate() }" | mongosh --port 27017 --quiet
      interval: 10s
      timeout: 30s
      retries: 5
      start_period: 10s
    volumes:
      - mongodb_data:/data/db

  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: easy-q-app
    ports:
      - "3000:3000"
    environment:
      - DATABASE_URL=mongodb://mongodb:27017/easy-q?replicaSet=rs0
    env_file:
      - .env.docker
    depends_on:
      mongodb:
        condition: service_healthy

volumes:
  mongodb_data:
